// Font family
$montserrat: 'Montserrat', sans-serif;

// Font sizes
$small-font-size: 12px;
$regular-font-size: 14px;
$big-font-size: 18px;
$title-font-size: 20px;
$section-title-font-size: 48px;
$block-title-font-size: 36px;

// Colors
$black: #000;

$gray: #e7e7e7;

$white: #fff;

$red: #fa454b;

$beige: #cfb995;
$beige-light: #f1eade;
