.best-deals {
  height: 460px;
  padding: 105px 0;
  background-image: url("../images/bg-top.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $white;

  .content {
    display: flex;
    flex-direction: column;
  }
}

.best-deals__title {

}
